version: "3"

services:
  vaultwarden:
    hostname: vaultwarden
    logging:
      driver: "local"
      options:
        max-size: "50m"
    image: "vaultwarden/server:1.35.2"
    # https://github.com/GoogleContainerTools/distroless/blob/64ac73c84c72528d574413fb246161e4d7d32248/common/variables.bzl#L18
    user: "65532:65532"
    restart: unless-stopped
    volumes:
      - ./data:/data:rw
    env_file:
      - .env.vaultwarden
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "[ -f /tmp/.healthy ] || (/healthcheck.sh && touch /tmp/.healthy)",
        ]
      interval: 2s
      timeout: 1s
      retries: 10

  trigger:
    depends_on:
      vaultwarden:
        condition: service_healthy
    hostname: trigger
    logging:
      driver: "local"
      options:
        max-size: "50m"
    image: ghcr.io/hellodword/vaultwarden-less-trigger:latest
    # build:
    #   context: .
    #   dockerfile: ./docker/distroless-trigger.Dockerfile
    env_file:
      - .env
    ports:
      - "${LISTEN_HOST}:8080"
    restart: unless-stopped
    volumes:
      - ./data:/data:ro
      - ./scripts:/scripts:ro
      - ./git-backup:/git-backup:rw
      - ./restic-cache:/restic-cache:rw
      - ./config:/config:ro
    healthcheck:
      test:
        [
          "CMD",
          "bash",
          "-c",
          "[ -f /tmp/.healthy ] || (curl --fail --silent --show-error http://127.0.0.1:8080/alive && touch /tmp/.healthy)",
        ]
      interval: 2s
      timeout: 1s
      retries: 10
